---
http_interactions:
- request:
    method: post
    uri: https://www.bloc.io/api/v1/sessions
    body:
      encoding: UTF-8
      string: email=<EMAIL>&password=<PASSWORD>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"afc58a3c4f8fe04b02aba81b62a691a0"'
    body:
      encoding: ASCII-8BIT
      string: '{"auth_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhcGlfa2V5IjoiOThjOGQyZDFiZmNkNDVhMDliNGUyMDlhMWYwNTYzMTkiLCJ1c2VyX2lkIjoyMzQxNjQ0LCJuYW1lIjoiQnJpYW4gTW9udCJ9.roYsdOdvC0CtFRrT3iIZbqRIrj-efEYjjmEmPzgqV94","user":{"id":2341644,"email":"briansmont830@gmail.com","created_at":"2016-05-16T10:59:14.469-04:00","updated_at":"2016-11-29T12:53:04.980-05:00","facebook_id":null,"first_name":"Brian","last_name":"Mont","role":"user","stripe_customer_id":"cus_8SicnDo4pon3Fs","twitter_handle":null,"skype_handle":"brian.s.mont","github_handle":"briansmont","time_zone":"Eastern
        Time (US \u0026 Canada)","bio":null,"photo_file_name":"blocPic.png","photo_content_type":"image/png","photo_file_size":340886,"photo_updated_at":"2016-05-30T09:31:55.326-04:00","send_new_message_emails":true,"referred_by_id":null,"slug":"brian-mont","os":"Windows","last_seen_at":"2016-11-29T12:51:49.255-05:00","private_profile":false,"google_plus_id":null,"linkedin":"https://www.linkedin.com/in/brian-mont-a30<ROADMAP_ID>943","quota":0,"old_first_visit_id":null,"selected_enrollment_chain_id":4902,"phone_num":"201707<ROADMAP_ID>42","title":null,"quota_limit":0,"dribbble_handle":null,"codecademy_handle":"briansmont830@gmail.com","student_profile_id":null,"birthdate":"1988-08-31","gender":"Male","first_visit_id":null,"codewars_handle":"briansmont"}}'
  recorded_at: Tue, 29 Nov 2016 17:54:04 GMT
- request:
    method: get
    uri: https://www.bloc.io/api/v1/users/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhcGlfa2V5IjoiOThjOGQyZDFiZmNkNDVhMDliNGUyMDlhMWYwNTYzMTkiLCJ1c2VyX2lkIjoyMzQxNjQ0LCJuYW1lIjoiQnJpYW4gTW9udCJ9.roYsdOdvC0CtFRrT3iIZbqRIrj-efEYjjmEmPzgqV94
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"c3b36a7d91298fb400f9a770746027c0"'
    body:
      encoding: UTF-8
      string: '{"id":2341644,"slug":"brian-mont","name":"Brian Mont","email":"briansmont830@gmail.com","title":null,"first_name":"Brian","last_name":"Mont","facebook_id":null,"url":"/users/brian-mont","bio":null,"course":{"id":50,"name":"Part-Time
        Web Developer Track","length":54,"kind":"part_time_web_dev_track","appointments_per_week":1},"current_enrollment":{"id":19589,"created_at":"2016-11-26T00:41:07.107-08:00","updated_at":"2016-11-28T08:09:42.744-08:00","cohort_id":null,"status":"active","mentor_id":<MENTOR_ID>,"deleted":false,"onboarded":true,"dropped_out_at":null,"birth_date":"2016-11-26T00:41:07.023-08:00","roadmap_id":<ROADMAP_ID>,"course_end_date":"2017-04-16T17:00:00.000-07:00","course_start_date":"2016-05-29T17:00:00.000-07:00","death_date":null,"sent_get_started_email":false,"course_id":50,"old_visit_id":null,"certified":false,"locked_message":"","latest":true,"chain_id":4902,"roadmap_ref":"11af8519-6246-45f5-87b7-6607f82fd92e|0","visit_id":"d30ca1eb-28eb-4c42-8656-702f56c6c843"},"quota":0,"quota_limit":0,"type":"Student","status":"active","image_src":"https://cdn-photos.bloc.io/original/2341644/blocPic.png?1464615115","large_image_src":"https://cdn-photos.bloc.io/large/2341644/blocPic.png?1464615115","created_at":"2016-05-16
        07:59:14 -0700","facebook_profile_picture_url":"http://graph.facebook.com//picture?width=110\u0026height=110","github_handle":"briansmont","codecademy_handle":"briansmont830@gmail.com","student":true,"time_zone":{"name":"Eastern
        Time (US \u0026 Canada)","string":"(GMT-05:00) Eastern Time (US \u0026 Canada)","identifier":"America/New_York"}}'
  recorded_at: Tue, 29 Nov 2016 17:54:04 GMT
recorded_with: VCR 3.0.3
