---
http_interactions:
- request:
    method: post
    uri: https://www.bloc.io/api/v1/sessions
    body:
      encoding: UTF-8
      string: email=<EMAIL>&password=<PASSWORD>
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"a6fbed00ae75724ac77c49e9b16e72d7"'
    body:
      encoding: UTF-8
      string: '{"auth_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhcGlfa2V5IjoiOThjOGQyZDFiZmNkNDVhMDliNGUyMDlhMWYwNTYzMTkiLCJ1c2VyX2lkIjoyMzQxNjQ0LCJuYW1lIjoiQnJpYW4gTW9udCJ9.roYsdOdvC0CtFRrT3iIZbqRIrj-efEYjjmEmPzgqV94","user":{"id":2341644,"email":"briansmont830@gmail.com","created_at":"2016-05-16T14:59:14.469Z","updated_at":"2016-11-29T17:54:04.934Z","facebook_id":null,"first_name":"Brian","last_name":"Mont","role":"user","stripe_customer_id":"cus_8SicnDo4pon3Fs","twitter_handle":null,"skype_handle":"brian.s.mont","github_handle":"briansmont","time_zone":"Eastern
        Time (US \u0026 Canada)","bio":null,"photo_file_name":"blocPic.png","photo_content_type":"image/png","photo_file_size":340886,"photo_updated_at":"2016-05-30T13:31:55.326Z","send_new_message_emails":true,"referred_by_id":null,"slug":"brian-mont","os":"Windows","last_seen_at":"2016-11-29T17:54:04.870Z","private_profile":false,"google_plus_id":null,"linkedin":"https://www.linkedin.com/in/brian-mont-a30<ROADMAP_ID>943","quota":0,"old_first_visit_id":null,"selected_enrollment_chain_id":4902,"phone_num":"201707<ROADMAP_ID>42","title":null,"quota_limit":0,"dribbble_handle":null,"codecademy_handle":"briansmont830@gmail.com","student_profile_id":null,"birthdate":"1988-08-31","gender":"Male","first_visit_id":null,"codewars_handle":"briansmont"}}'
  recorded_at: Tue, 29 Nov 2016 17:54:07 GMT
- request:
    method: get
    uri: https://www.bloc.io/api/v1/checkpoints/<CHECKPOINT_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhcGlfa2V5IjoiOThjOGQyZDFiZmNkNDVhMDliNGUyMDlhMWYwNTYzMTkiLCJ1c2VyX2lkIjoyMzQxNjQ0LCJuYW1lIjoiQnJpYW4gTW9udCJ9.roYsdOdvC0CtFRrT3iIZbqRIrj-efEYjjmEmPzgqV94
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"67468c16fcf0e0ce5bc8c2b0c6b73a18"'
    body:
      encoding: UTF-8
      string: '{"id":<CHECKPOINT_ID>,"name":"Create Wireframes and Mockups","body":"","parent_id":null,"created_at":"2016-05-11T22:16:26.429Z","updated_at":"2016-05-11T22:16:26.429Z","assignment":"","summary":"Design
        your Capstone''s user interface","points":1,"project_name":"","roadmap_id":null,"active":true,"job_prep":false,"version":[0,0],"body_file_path":"","uuid":"3913bab7-5fc1-4b50-b2c7-cb9ec49ffae8","ref":"3913bab7-5fc1-4b50-b2c7-cb9ec49ffae8|0","retroactive_optional_date":null,"checkpoint_type":"normal","quiz_id":null}'
  recorded_at: Tue, 29 Nov 2016 17:54:08 GMT
recorded_with: VCR 3.0.3
